{% extends "base.html" %}

{% block style %}

<link rel="stylesheet" href="static/movieDetial.css">
{% end %}

{% block body %}

<h1>电影详情:</h1>

<div class="movie_info">

    <div class="movie_left">
        <img src="{{movie.movie_cover}}" class="cover" >
        <h1 class="title">{{movie.movie_name_cn}}</h1>
        <button type="button" onclick="test()" class="fetch_movie_detial" >获取详细数据</button>
    </div>

        <div class="movie_right">

            <h1 class="label">电影名称:</h1>

            <p class="name">中文名: </p>
            <input type="text" value="{{movie.movie_name_cn}}">
            <p class="name">原名字: {{movie.movie_name_en}}</p>
            <p class="name">别　名: {{movie.movie_name_ot}}</p>

            <h1 class="label">电影人:</h1>
            <p class="name">导演:</p>
            <p>
                {% for item in movie.movie_actors %}

                    {% if item.atm[0].relationship == 1 %}
                        <p class="name2">{{item.atm[0].cel.name_cn}}</p>
                    {% end %}
                {% end %}
            </p>
            <p class="name">主演:</p>
            <p>
                {% for item in movie.movie_actors %}

                    {% if item.atm[0].relationship == 2 %}
                        <p class="name2">{{item.atm[0].cel.name_cn}}</p>
                    {% end %}
                {% end %}
            </p>
            <p class="name">编剧:</p>

            {% if len(movie.movie_location) > 0 %}
                <p class="name">发行地:{{movie.movie_location[0].name}}</p>
            {% end %}


            <h1 class="label">电影数据:</h1>
            <p class="name">时长:{{movie.movie_length}}</p>
            <p class="name">豆瓣:{{movie.movie_douban_mark}}</p>
            <p class="name">简介:</p>
            <p class="summary">{{movie.movie_summary}}</p>

            <h1 class="label">电影资源:</h1>

    </div>

</div>


<script>

    function test() {

        var xmlhttp;
        if (window.XMLHttpRequest)
        {
            //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp=new XMLHttpRequest();
        }
        else {
            // IE6, IE5 浏览器执行代码
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4 && xmlhttp.status==200) {
//                var json = xmlhttp.responseText;
//                var obj = JSON.parse(json);
//                console.log(obj.title)
                location.reload();
            }
        }

        var urlString = "/moviedetial?spiderId={{movie.movie_douban_id}}";

        xmlhttp.open("GET", urlString, true);
        xmlhttp.send();
    }
    
</script>

{% end %}
rk2