{% extends "base.html" %}


{% block search %}
<form action="movielist" method="get" class="search_input">
    <input type="text" name="content">
    <input type="submit" value="搜索">
</form>
{% end %}

{% block body %}

<!-- 影集 -->
<table border="1" class="movieList">
    <tr>
        <th width="20px">ID</th>
        <th width="100px">名字</th>
        <th width="20px">原名</th>
        <th >评分</th>
        <th width="30px">豆瓣Id</th>
    </tr>

    {% for item in movieAlbum %}
        <tr>
            <td height="30px" style="text-align:center">{{item.id}}</td>
            <td><a href="album?albumId={{item.id}}">{{item.title}}</a></td>
            <td>{{item.year}}</td>
            <td>{{item.description}}</td>
            <td style="text-align:center">{{item.douban_id}}</td>
        </tr>
    {% end %}

</table>

<!-- 分页 -->

<div class="page_control">


    {% for num in range(1, count + 1) %}
        <li>
            <form method="get" action="movielist">
                <input type="text" name="page" style="display:none" value={{num}}>
                <input type="submit" value="{{num}}">
            </form>
        </li>
    {%end%}


</div>



{% end %}
