{% extends "base.html" %}

{% block style %}

<link rel="stylesheet" href="static/movieDetial.css">
{% end %}

{% block body %}

<h1>电影详情:</h1>

<div class="movie_info">

    <div class="movie_left">
       <img src="{{movie.movie_cover}}" class="cover" >
       <h1 class="title">{{movie.movie_name_cn}}</h1>
    </div>

        <div class="movie_right">

            <h1 class="label">电影名称:</h1>

            <p class="name">中文名: </p>
            <input type="text" value="{{movie.movie_name_cn}}">
            <p class="name">原名字: {{movie.movie_name_en}}</p>
            <p class="name">别　名: {{movie.movie_name_ot}}</p>

            <h1 class="label">电影人:</h1>
            <p class="name">导演:</p>
            <p>
                {% for item in movie.movie_actors %}

                    {% if item.atm[0].relationship == 1 %}
                        <p class="name2">{{item.atm[0].cel.name_cn}}</p>
                    {% end %}
                {% end %}
            </p>
            <p class="name">主演:</p>
            <p>
                {% for item in movie.movie_actors %}

                    {% if item.atm[0].relationship == 2 %}
                        <p class="name2">{{item.atm[0].cel.name_cn}}</p>
                    {% end %}
                {% end %}
            </p>
            <p class="name">编剧:</p>

            {% if len(movie.movie_location) > 0 %}
                <p class="name">发行地:{{movie.movie_location[0].name}}</p>
            {% end %}


            <h1 class="label">电影数据:</h1>
            <p class="name">时长:{{movie.movie_length}}</p>
            <p class="name">豆瓣:{{movie.movie_douban_mark}}</p>
            <p class="name">简介:</p>
            <p class="summary">{{movie.movie_summary}}</p>

            <h1 class="label">电影资源:</h1>

    </div>

</div>

{% end %}




 id                 | int(11)       | NO   | PRI | NULL    | auto_increment |
| complete           | tinyint(1)    | YES  |     | NULL    |                |
| movie_name_cn      | varchar(128)  | YES  |     | NULL    |                |
| movie_name_en      | varchar(128)  | YES  |     | NULL    |                |
| movie_name_ot      | varchar(128)  | YES  |     | NULL    |                |
| movie_cover        | varchar(256)  | YES  |     | NULL    |                |
| movie_summary      | varchar(2048) | YES  |     | NULL    |                |
| movie_length       | int(11)       | YES  |     | NULL    |                |
| movie_release      | varchar(128)  | YES  |     | NULL    |                |
| movie_language     | varchar(128)  | YES  |     | NULL    |                |
| movie_douban_mark  | varchar(32)   | YES  |     | NULL    |                |
| movie_doubanUrl    | varchar(256)  | YES  |     | NULL    |                |
| movie_douban_id    | int(11)       | YES  | MUL | NULL    |                |
| movie_tomato_mark1 | varchar(32)   | YES  |     | NULL    |                |
| movie_tomato_mark2