
{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="static/movielist.css">
{% end %}

{% block search %}

<div class="searchBar">
    <form action="op" method="get" class="search_input">
        <input type="text" name="content">
        <input type="submit" value=" 搜索 ">
    </form>
</div>


{% end %}

{% block body %}

<!--<div class="panel panel-primary">内容</div>-->


<table border="1" class="movieList">
    <tr>
        <th width="50px">ID</th>
        <th>名字</th>
        <th>原名</th>
        <th>评分</th>
        <th>豆瓣Id</th>
    </tr>

    {% for item in movieList %}
        <tr>
            <td height="30px" style="text-align:center">{{item.id}}</td>
            <td><a href="moviedetial?movieid={{item.id}}">{{item.movie_name_cn}}</a></td>
            <td>{{item.movie_name_en}}</td>
            <td style="text-align:center">{{item.movie_douban_mark}}</td>
            <td style="text-align:center">{{item.movie_douban_id}}</td>
        </tr>
    {% end %}

</table>

<!-- 分页 -->

<div class="page_control">

    <!--<ul class="page">-->

        {% for num in range(1, count + 1) %}
            <li>
                <form method="get" action="op">
                    <input type="text" name="page" style="display:none" value={{num}}>
                    <input type="submit" value="{{num}}">
                </form>
            </li>
        {%end%}
    <!--</ul>-->

</div>


{% end %}