{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="static/top250.css">
{% end %}


{% block body %}

<!-- 影集 -->
<h4>Top250</h4>


    <!--<form method="post" enctype="multipart/form-data" action="upload" name="upload_form">-->
        <!--<input type="file" name="img" accept="image/jpeg,image/png,image/gif"/>-->

        <!--<input type="submit" value="提交图片">-->
    <!--</form>-->


<input type="file" id='file' onchange="c()" value="了">

<img src="#" id='show' onerror="this.src='../static/image/header.png'">

<script type="text/javascript">
    function c () {
        var r= new FileReader();
        f=document.getElementById('file').files[0];

        var dd =document.getElementById('file');

        r.readAsDataURL(f);
        r.onload=function  (e) {
            document.getElementById('show').src=this.result;

            dd.body.style.backgroundImage="url(https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=3435028859,2779275103&fm=58)"
        };
    }
</script>


{% end %}
