<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录界面</title>

    <style>

        .box {
            width: 600px;
            height: 200px;
            border: 1px solid gray;
            margin: 100px auto;
        }

        input {
            display: block;
            margin: 10px auto;
        }

    </style>

</head>
<body>

    <div class="box">

        <form action="user_login_views.html" method="post">

            <input type="text" name="username">
            <input type="password" name="pwd" >
            <input type="submit" value="submit">
        </form>

    </div>

</body>
</html>